@CHARSET "ISO-8859-1";

h1{
	
text-align: center;
color: orange;	
}

#img1{

	width: 100px;
	height: 100px;
	border: 2px solid red;
	
}


table{
	
	border: 2px solid blue;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	
}

tr,td{
	
	border: 2px solid blue;
}